<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Storiz</title>
	<!-- core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.transitions.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/storiz-icon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body id="home" class="homepage">

    <header id="header" class="header-size">
        <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header img-and-toggle">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img class="image-logo-size" src="images/logo.png" alt="logo">
                    </a>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="scroll active"><a href="#home">Home</a></li>
                        <li class="scroll"><a href="#features">Features</a></li>
                        <li class="scroll"><a href="#services">Services</a></li>
<!--                        <li class="scroll"><a href="#portfolio">Portfolio</a></li>-->
                        <li class="scroll"><a href="#our-app">App</a></li>
                        <li class="scroll"><a href="#meet-team">Team</a></li>
<!--                        <li class="scroll"><a href="#pricing">Pricing</a></li>-->
<!--                        <li class="scroll"><a href="#blog">Blog</a></li> -->
                        <li class="scroll"><a href="#get-in-touch">Contact</a></li>                        
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    </header><!--/header-->

    <section id="main-slider">
        <div class="owl-carousel">
            <div class="item" style="background-image: url(images/slider/whispering.jpg);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
<!--                                    <h2><span>Multi</span> is the best Onepage html template</h2>-->
                                    <h2>Every <span>Story</span> start with a whisper </h2>
<!--                                    <a class="btn btn-primary btn-lg" href="#">Read More</a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
             <div class="item" style="background-image: url(images/slider/peoples.jpeg);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
<!--                                    <h2>Beautifully designed <span>free</span> one page template</h2>-->
                                    <h2>Let other <span>complete</span> it for you </h2>
<!--                                    <a class="btn btn-primary btn-lg" href="#">Read More</a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.owl-carousel-->
    </section><!--/#main-slider-->

    <section id="features">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Community Knowledge</h2>
<!--                <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>-->
            </div>
        </div>
        
    <div class="container wow fadeInLeft">
    <div class="row">
        <div class="col-md-4">
            <div class="serviceBox">
                <h3>New Media</h3>
                <div class="service-icon">
                    <i class="fa fa-newspaper-o"></i>
                </div>
                <div class="service-content">
                    <p>
                        Today media is conveyd mostly by online services
                    </p>
<!--                    <a href="#" class="btn btn-default">Read more</a>-->
                </div>
            </div>
        </div>
 
           <div class="col-md-4">
            <div class="serviceBox">
                <h3>Information</h3>
                <div class="service-icon">
                    <i class="fa fa-info"></i>
                </div>
                <div class="service-content">
                    <p>
                        The old conservative media hold information and news only by central media channels which have
                        too much impact and is usually influenced by political views.  
                    </p>
<!--                    <a href="#" class="btn btn-default">Read more</a>-->
                </div>
            </div>
        </div>
            
        <div class="col-md-4">
            <div class="serviceBox">
                <h3>Community</h3>
                <div class="service-icon">
                    <i class="fa fa-globe"></i>
                </div>
                <div class="service-content">
                    <p>
                        community based knowledge services  are  considered accurate and trustworthy.
                    </p>
<!--                    <a href="#" class="btn btn-default">Read more</a>-->
                </div>
            </div>
        </div>
        </div>
    </div>
        
 
           
    </section>
    

    <section id="services" >
        <div class="container">

            <div class="section-header">
                <h2 class="section-title-white text-center wow fadeInDown">Services</h2>
                <p class="text-center wow fadeInDown">We wish to convey simple services to help community based real-time news and stories, <br>
                and  combine it with old  media news platforms.</p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-steam"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="white-heading">Accurate and tested</h4>
                                <p>The infromation is immadietly updated and verified by other people in real- time.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-android"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="white-heading">Application</h4>
                                <p>Supported by most existing platforms for android <br> os devices , also iphone devices support are coming soon. </p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->


                    <div class="col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-share-alt"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="white-heading">Share the news instantly among friend</h4>
                                <p>It was never easiar sharing news and stories among near friends.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="white-heading">Location based news</h4>
                                <p>relevent news which are the one closer to you will be right on your smartphone.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                </div>
            </div><!--/.row-->    
        </div><!--/.container-->
    </section><!--/#services-->

    <section id="our-app">
            <div class="row">
                         <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown" style="padding-top:50px;">Our App</h2>
                <p class="text-center wow fadeInDown " style="font-weight:800px; font-size:20px">Get news flashes and all intresting events near you</p>
            </div>
               
               
                <div class="col-sm-5 col-md-5 col-md-offset-1 max-width-350 margin-top-100 wow fadeInDown">
                    <!-- About Image -->

               <div id="android-app-1" class="owl-carousel owl-theme android-app" style="margin-top:100px;">
                        <img  class="item" src="images/screen_1_login.png" alt="">
                        <img class="item" src="images/screen_02.png" alt="">

                </div>
                </div>
                <div class="col-sm-6 col-md-5 wow fadeInDown"> 
                    <div class="about_us_text_area" style="margin-left:30px;">
                        <h3>Finally community based news app, main features: </h3>
                        
<div id="nice-list">
  <ol>
    <li><span>1.</span><p>The app has api to leading news media comapny which are to be conveyed live to the app , show the 
    users exactly what intresting stuff happaned near him by local media channel and global media channel </p></li>
    <li><span>2.</span><p>people near the event are encourged to update it : by adding phothos and information live.then the information 
    transffered to the application and after verified uploaded to the main news channels and the application.   </p></li>
    <li><span>3.</span><p>The user can filter the information relevent to him by location and popularity , and  
    observer news events close to his location on  a map or list. </p></li>
  </ol> 
</div>
                        
<!--
                        <li>Lorem ipsu</li>
                        <li>bbbbbbbbbbb</li>
                         
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit ipsum debitis neque mollitia facilis possimus corrupti suscipit officia, maiores deleniti error sit laborum?</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa id placeat laborum suscipit mollitia, quibusdam, odit, eum nemo modi, quos saepe quisquam itaque dolores earum.</p>
                        <a href="#">Learn more</a>
-->
                    </div>
                </div>
            </div>
    </section>
    
    

       <section id="testimonial">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-1">

                    <div id="carousel-testimonial" class="carousel slide text-center" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
<!--                                <p><img class="img-circle img-thumbnail" src="images/testimonial/01.jpg" alt=""></p>-->
<!--                                <h4>Louise S. Morgan</h4>-->
                                                               <blockquote>
More than 80% of US citizens consume news media more than once a day.
<cite>from Statista</cite>
</blockquote>
                            </div>
                            <div class="item">
<!--                                <p><img class="img-circle img-thumbnail" src="images/testimonial/01.jpg" alt=""></p>-->
<!--                                <h4>A Knowledge Building Community (KBC) is a community in which the primary goal is knowledge creation rather than the construction of specific products or the completion of tasks. </h4>-->
                                <blockquote>
A Knowledge Building Community (KBC) is a community in which the primary goal is knowledge creation rather than the construction of specific products or the completion of tasks. 
<cite>from Wikipedia</cite>
</blockquote>
                                
<!--
                               
                                <small>Treatment, storage, and disposal (TSD) worker</small>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p>
-->
                            </div>
                        </div>

<!--
                        <div class="btns">
                            <a class="btn btn-primary btn-sm" href="#carousel-testimonial" role="button" data-slide="prev">
                                <span class="fa fa-angle-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="btn btn-primary btn-sm" href="#carousel-testimonial" role="button" data-slide="next">
                                <span class="fa fa-angle-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    


    <section id="meet-team">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Our Team</h2>
                <p class="text-center wow fadeInDown"></p>
            </div>

            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                        <div class="team-img">
                            <img class="img-responsive" src="" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Shay Bar-el</h3>
                            <span>Founder and CEO</span>
                        </div>
<!--                        <p>Exprienced developer  B.sc computer science TAU graduate of BEE program at tel aviv univerity</p>-->
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-4 col-md-4">
                    <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="200ms">
                        <div class="team-img">
                            <img class="img-responsive" src="" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Tamir cohen</h3>
                            <span>Developer</span>
                        </div>
<!--                        <p>Full stack developer </p>-->
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
                        <div class="team-img">
                            <img class="img-responsive" src="" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Tomer Levy</h3>
                            <span>Marketing and Sales</span>
                        </div>
<!--                        <p>Well Exprienced and graduate of TAU second degree with business and well afare. </p>-->
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="get-in-touch">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Get in Touch</h2>
<!--                <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>-->
            </div>
        </div>
    </section><!--/#get-in-touch-->


    <section id="contact">
        <div id="google-map" style="height:650px" data-latitude="32.0676272" data-longitude="34.7852532"></div>
        <div class="container-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-8">
                        <div class="contact-form">
                            <h3>Contact Info</h3>

                            <address>
                              <strong>Storiz, Inc.</strong><br>
                              Menachem begin 65,
                            <br>
                               Tel Aviv, Israel<br>
                              <abbr title="Phone">P:</abbr>+972587381234

                            </address>

                            <form id="main-contact-form" name="contact-form" method="post" action="#">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" placeholder="Name" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" placeholder="Email" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="subject" class="form-control" placeholder="Subject" required>
                                </div>
                                <div class="form-group">
                                    <textarea name="message" class="form-control" rows="8" placeholder="Message" required></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Send Message</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    <!--/#bottom-->

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2016 Storiz<a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates"></a>
                </div>
                <div class="col-sm-6">
                    <ul class="social-icons">
<!--
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-github"></i></a></li>
-->
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/mousescroll.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/jquery.inview.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>